<main class="mx-auto">
    <article class="w-full md:min-h-(--min-height) box-border text-center p-8 md:p-16 lg:p-48 bg-zinc-100 dark:bg-zinc-800">
        <h1 class="text-4xl font-bold text-black dark:text-white">
            {{ title }}
        </h1>
        <div class="mt-12 text-black dark:text-white">
            {{ content | widont }}
        </div>
    </article>
    {{# Feature Section #}}
    {{ partial:feature }}

    <div class="container mx-auto">

        {{# Education Section #}}
        {{ partial:section
            reversed='true'
            id='education'
            linkUrl='{{ education_section_link }}'
            linkText='{{ education_section_link_text }}' }}
            {{ slot:title }}
                {{ education_section_title }}
            {{ /slot:title }}

            {{ slot:content }}
                {{ education_section_content | widont }}
            {{ /slot:content }}

            {{ slot:image }}
                {{ education_section_image }}
            {{ /slot:image }}
        {{ /partial:section }}

        {{# Events Section #}}
        {{ partial:section
            reversed='false'
            id='events'
            linkUrl='{{ events_section_link }}'
            linkText='{{ events_section_link_text }}' }}
            {{ slot:title }}
                {{ events_section_title }}
            {{ /slot:title }}

            {{ slot:content }}
                {{ events_section_content | widont }}
            {{ /slot:content }}

            {{ slot:image }}
               {{ events_section_image }}
            {{ /slot:image }}
        {{ /partial:section }}

        {{# Artists Section #}}
        <section id="about"
            class="w-full md:min-h-(--min-height) box-border text-center p-12 flex flex-col justify-center">
            <div>
                <h2 class="text-2xl font-semibold dark:text-white tracking-wide">
                    {{ artists_title }}
                </h2>
                <hr class="w-48 text-rose-500 my-4 border-2 mx-auto" />
                <div class="text-center max-w-2xl mx-auto">
                    {{ artists_content | widont }}
                </div>
                <h3 class="text-xl font-semibold dark:text-white tracking-wide">{{ artist_list_title }}</h3>
                <ul class="flex flex-col md:flex-row w-full max-w-3xl gap-4 my-8 mx-auto">
                    {{ artist_list }}
                    <li class="border rounded-md overflow-hidden p-4 flex items-stretch">
                        <figure class="bg-zinc-100 dark:bg-zinc-800 rounded-sm overflow-hidden">
                            <a href="{{ link }}" title="{{ name }}" class="block overflow-hidden">
                                <img src="{{ image[0] }}" alt="{{ name }}" class="hover:scale-[1.025] transition"/>
                            </a>
                            <figcaption class="p-2 bg-zinc-100 dark:bg-zinc-800">
                                <h4 class="text-md font-semibold dark:text-white tracking-wide">
                                    <a href="{{ link }}" class="hover:underline">{{ name }}</a>
                                </h4>
                                <p class="!m-0">{{ description }}</p>
                            </figcaption>
                        </figure>
                    </li>
                    {{ /artist_list }}
                </ul>
                {{ partial:button url="{{ linkUrl }}"}}
                    {{ slot:text }}
                        Enquiries & Bookings
                    {{ /slot:text }}
                {{ /partial:button }}
            </div>
        </section>
    </div>
</main>
