<main class="mx-auto">
    <header class="w-full md:min-h-(--min-height) bg-zinc-950 relative -z-1 min-h-128">
    <div
        class="relative z-1 md:min-h-(--min-height) min-h-128 flex flex-col justify-center-safe text-center px-4 py-8 bg-zinc-950/80 bg-blend-multiply">

        <h1 class="text-4xl font-bold text-white tracking-wider text-shadow-lg text-shadow-gray-800">
            <span class="site-logo hidden! md:block! md:h-36 mx-auto mb-12">
                {{ site:name }}
            </span>
            {{ title }}
        </h1>
        <hr class="w-48 text-rose-500 my-4 border-2 mx-auto" />
        <div class="mx-auto text-white max-w-3xl">
            {{ content | widont }}
        </div>
    </div>
        <div class="absolute top-0 left-0 right-0 bottom-0 z-0  md:min-h-(--min-height) overflow-clip">
            <video class="w-auto h-auto min-w-screen min-h-screen max-w-none absolute top-1/2 left-1/2 -translate-1/2" muted loop autoplay>
                <source src="assets/Whitney_1_16-9_v1.mp4" type="video/mp4">
            </video>
        </div>

    </header>

    {{# Feature Section #}}
    {{ partial:feature }}

    <div class="container mx-auto">
        {{# Education Section #}}
        {{ partial:section
            reversed='true'
            id='education'
            linkUrl='{{ education_section_link }}'
            linkText='{{ education_section_link_text }}' }}
            {{ slot:title }}
                {{ education_section_title }}
            {{ /slot:title }}

            {{ slot:content }}
                {{ education_section_content | widont }}
            {{ /slot:content }}

            {{ slot:image }}
                {{ education_section_image }}
            {{ /slot:image }}
        {{ /partial:section }}

        {{# Events Section #}}
        {{ partial:section
            reversed='false'
            id='events'
            linkUrl='{{ events_section_link }}'
            linkText='{{ events_section_link_text }}' }}
            {{ slot:title }}
                {{ events_section_title }}
            {{ /slot:title }}

            {{ slot:content }}
                {{ events_section_content | widont }}
            {{ /slot:content }}

            {{ slot:image }}
               {{ events_section_image }}
            {{ /slot:image }}
        {{ /partial:section }}
    </div>

    {{# Artists Section #}}
    <section id="about"
        class="w-full md:min-h-(--min-height) box-border text-center p-12 flex flex-col justify-center bg-gray-900">
        <div>
            <h2 class="text-2xl font-semibold text-white tracking-wide">
                {{ artists_title }}
            </h2>
            <hr class="w-48 text-rose-500 my-4 border-2 mx-auto" />
            <div class="text-center max-w-2xl mx-auto">
                {{ artists_content | widont }}
            </div>
            <h3 class="text-xl font-semibold text-white tracking-wide">{{ artist_list_title }}</h3>
            <ul class="flex flex-col md:flex-row w-full max-w-3xl gap-4 my-8 mx-auto">
                {{ artist_list }}
                <li class="border rounded-md overflow-hidden p-4 flex items-stretch">
                    <figure class="bg-zinc-800 rounded-sm overflow-hidden">
                        <a href="{{ link }}" title="{{ name }}" class="block overflow-hidden" tabindex="-1" target="_blank">
                            <img src="{{ image[0] }}" alt="{{ name }}" class="hover:scale-[1.025] transition" />
                        </a>
                        <figcaption class="p-2 bg-zinc-800">
                            <h4 class="text-md font-semibold text-white tracking-wide">
                                <a href="{{ link }}" class="hover:underline" target="_blank">{{ name }}</a>
                            </h4>
                            <p class="m-0!">{{ description }}</p>
                        </figcaption>
                    </figure>
                </li>
                {{ /artist_list }}
            </ul>
            {{ partial:button url="{{ linkUrl }}"}}
                {{ slot:text }}
                    Enquiries & Bookings
                {{ /slot:text }}
            {{ /partial:button }}
        </div>
    </section>
</main>
