{{ if feature_display }}
<div class="" style="background-image: url('{{ feature_background_image }}'); background-size: cover; background-position: center bottom; background-attachment: fixed;">
    <section
        class="container mx-auto md:min-h-(--min-height) box-border flex flex-col md:flex-row items-stretch content-stretch gap-10 p-12">
        <div class="w-full md:w-1/2 text-center rounded-sm bg-center bg-contain bg-no-repeat overflow-hidden"
            style="background-image: url('{{ feature_image }}');">
            <img src="{{ feature_image }}" class="block md:hidden" />
        </div>
        <div class="w-full md:w-1/2 flex flex-col justify-center-safe text-white">
            {{ feature_content }}
        </div>
    </section>
</div>
{{ /if feature_display }}
