<div class="w-screen fixed top-0 right-0 left-0 flex justify-end-safe z-10">
    <div class="h-8 w-full min-w-xs text-right p-1">
        <button id="{{ button-id }}"
            class="inline-block {{ hide-at }}:hidden bg-black cursor-pointer p-2 rounded"
            aria-label="Show menu" title="Close menu">
            <div class="inner h-6 w-8 relative pointer-events-none">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
    </div>
</div>
<div id="{{ button-id }}-target"
    class="menu-container hidden fixed md:block bg-black h-full w-full top-0
        {{ hide-at }}:h-auto {{ hide-at }}:block {{ hide-at }}:static {{ hide-at }}:bg-none">
    {{ slot }}
</div>

<style>
    button span {
        background-color: currentColor;
        width: 100%;
        height: 3px;
        border-radius: 3px;
        display: block;
        position: absolute;
        opacity: 1;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        transform-origin: left center;
        pointer-events: none;
    }
    button span:nth-child(1) {
        top: 0;
    }
    button span:nth-child(2) {
        top: calc(50% - 1px);
    }
    button span:nth-child(3) {
        top: calc(100% - 2px);
    }
    button.active span:nth-child(1) {
        transform: rotate(45deg) translate(2px, -2px);
    }
    button.active span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }
    button.active span:nth-child(3) {
        transform: rotate(-45deg) translate(2px, 2px);
    }
    .menu-container.active {
        display: block;
    }
</style>

<script>
    const button = document.getElementById('{{ button-id }}')
    const target = document.getElementById('{{ button-id }}-target')

    button.addEventListener('click', toggleMenu)
    target.addEventListener('visibilitychange', (e) => {
        console.warn('here')
    })

    function toggleMenu (e) {
        e.preventDefault()
        const target = document.getElementById('{{ button-id }}-target')
        const active = e.target.classList.contains('active')
        if (active) {
            e.target.classList.remove('active')
            target.classList.remove('active')
            return
        }
        e.target.classList.add('active')
        target.classList.add('active')
        return
    }
</script>
